# =====================
# Environment variables
# =====================
.env

# =====================
# Go (Backend)
# =====================
.gocache/
.gomodcache/
*.exe
*.out

# =====================
# Node / React (Frontend)
# =====================
node_modules/
build/
dist/

# =====================
# Logs
# =====================
*.log

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
